.main-head {
  grid-area: header;
  background: #54AB88;
  display: flex;
  font-size: 25px;
  align-items: center; }

.content {
  padding: 10px;
  grid-area: content;
  display: none;
  border: 1px solid #95A1AA; }

.main-nav {
  font-size: 16px;
  line-height: 30px;
  grid-area: nav;
  padding: 10px;
  display: none;
  border: 1px solid #95A1AA;
  background-color: #95A1AA;
  color: white; }

.side {
  padding: 10px;
  grid-area: sidebar;
  display: none;
  border: 1px solid #95A1AA; }

.main {
  grid-area: main;
  padding: 10px;
  display: none; }

/* Mobile Layout */
.wrapper1 {
  display: grid;
  padding: 10px;
  grid-gap: 0px;
  grid-template-areas: "header" "content"; }
  .wrapper1 .content {
    display: block; }

.wrapper2 {
  display: grid;
  padding: 10px;
  grid-gap: 0px;
  grid-template-areas: "header" "sidebar"; }
  .wrapper2 .side {
    display: block; }

.wrapper3 {
  display: grid;
  padding: 10px;
  grid-gap: 0px;
  grid-template-areas: "header" "main"; }
  .wrapper3 .main {
    display: block; }

/* tablet layout */
@media (min-width: 500px) {
  .main-nav {
    display: block; }

  .wrapper1 {
    grid-template-columns: 4fr 6fr;
    grid-template-areas: "nav  header" "nav content"; }

  .wrapper2 {
    grid-template-columns: 4fr 6fr;
    grid-template-areas: "nav  header" "nav sidebar"; }
    .wrapper2 .side {
      display: block; }

  .wrapper3 {
    grid-template-columns: 4fr 6fr;
    grid-template-areas: "nav  header" "nav sidebar" "main main"; }
    .wrapper3 .side {
      display: block; } }
/* Desktop layout */
@media (min-width: 768px) {
  .side {
    display: block; }

  .content {
    display: block; }

  .wrapper1 {
    grid-template-columns: 3fr 5fr 5fr;
    grid-template-areas: "nav header  header " "nav   content  sidebar"; }

  .wrapper2 {
    grid-template-columns: 3fr 5fr 5fr;
    grid-template-areas: "nav header  header " "nav   content  sidebar" "main mian mian"; }

  .wrapper3 {
    grid-template-columns: 3fr 5fr 5fr;
    grid-template-areas: "nav header  header " "nav   content  sidebar" "main mian mian"; }

  nav ul {
    flex-direction: column; } }
.buttons {
  background-color: #F27321;
  height: 30px;
  font-size: 15px;
  width: 100px; }

.buttonr {
  background-color: #95A1AA;
  height: 30px;
  font-size: 15px;
  width: 100px; }

.additionalselect {
  background-color: white;
  height: 30px;
  font-size: 12px;
  min-width: 100%;
  margin-bottom: 10px; }

.slider {
  background-color: #95A1AA;
  height: 4px;
  -webkit-appearance: none;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  width: 95%; }

.slider:hover {
  opacity: 1; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #54AB88;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #54AB88;
  cursor: pointer; }

.main-head {
  display: grid;
  grid-template-columns: 50px auto; }

.main-head .menu {
  display: flex;
  justify-content: flex-start; }

.main-head b {
  display: flex;
  justify-content: center; }

.side p {
  margin: 0; }

.content1 {
  display: inline-block; }

.content2 {
  display: flex;
  justify-content: space-around; }

.content3 {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.term {
  background-color: white;
  min-width: 90%;
  border-radius: 5px;
  border-style: solid;
  border-color: #a6a6a6;
  border-width: 1px;
  font-size: 12px;
  padding: 0;
  height: 25px;
  margin-right: 10px; }

.keywords {
  background-color: white;
  min-width: 90%;
  border-radius: 5px;
  border-style: solid;
  border-color: #a6a6a6;
  border-width: 1px;
  font-size: 12px;
  height: 21px; }

h1 {
  margin-bottom: 0;
  margin-top: 30px; }

.additionalop h1 {
  margin-top: 30px;
  margin-bottom: 10px; }

.button {
  margin-top: 20px; }

.subject {
  background-color: white;
  min-width: 96%;
  border-radius: 5px;
  border-style: solid;
  border-color: #a6a6a6;
  border-width: 1px;
  font-size: 12px;
  height: 25px; }

.content3 p,
.content1 p,
.content4 p,
.openclasses,
.timeoptions p {
  margin-top: 10px;
  margin-bottom: 3px; }

.days {
  font-size: 10px;
  display: flex;
  justify-content: space-between; }

.logo {
  margin: 0; }

.logo1 {
  max-width: 100%; }

.menu {
  display: flex;
  align-items: center;
  background-color: #F27321; }

.menu img {
  display: flex;
  padding: 10px; }

.public {
  border-bottom: 1px solid black; }

.line {
  border-bottom: 1px solid #95A1AA; }

.line1 {
  border-bottom: 1px solid #95A1AA; }

.pad {
  padding-left: 50px; }

.pop {
  padding: 10px; }

.description {
  padding: 10px;
  border: 1px solid #95A1AA; }

/*# sourceMappingURL=master.css.map */
