


.main-head {
grid-area: header;
   padding: 10px;
  background: #54AB88;
  justify-content: center;
  display:flex;
  font-size: 25px;
  align-items: center;
}

.content {
   padding: 10px;
  grid-area: content;
}

.main-nav {
  font-size: 16px;
  line-height: 30px;
  grid-area: nav;
  padding: 10px;

}
.side {
   padding: 10px;
  grid-area: sidebar;
}

.side p {
  margin: 0;
}


/* Mobile Layout */

.main-nav{
  display: none;
}
.content{
  display:none;
}

.wrapper {
  display: grid;
  padding: 10px;
  grid-gap: 0px;
  grid-template-areas:
    "header"
    "sidebar"
}


/* tablet layout */

@media (min-width: 500px) {
  .main-nav{
    display:block;
  }


  .wrapper {
    grid-template-columns: 4fr 6fr;
    grid-template-areas:
      "nav  header"
      "nav sidebar"

  }
  // nav ul {
  //   display: flex;
  //   justify-content: space-between;
  // }
  nav ul {
    flex-direction: column;
  }
}

/* Desktop layout */


@media (min-width: 768px) {
  .content{
    display:block;
  }

  .wrapper {
    grid-template-columns:3fr 5fr 5fr ;
    grid-template-areas:
      "nav  header  header"
      "nav    content  sidebar"

   }
   nav ul {
     flex-direction: column;
   }
}
