
.main-nav{
  border: 1px solid #95A1AA;
  background-color:#95A1AA;
color: white;
// text-decoration-color: white;
}

.side{
  border: 1px solid #95A1AA;

}
.content {
  border: 1px solid #95A1AA;

}
