
.main-nav{
  border: 1px solid #95A1AA;
  background-color:#95A1AA;
color: white;
// text-decoration-color: white;
}

.side{
  border: 1px solid #95A1AA;

}
.content {
  border: 1px solid #95A1AA;

}

.content1{
  display: inline-block;
}
.content2{
  display:flex;

}
.days{

  font-size: 10px;
}
.logo {

  margin: 0;
}
.logo1{
  max-width: 100%;
}


.public{
  // background-color: #F27321;
    border-bottom: 1px solid black;
}


.line{

  border-bottom: 1px solid #95A1AA;

}
.line1{

  border-bottom: 1px solid #95A1AA;

}

.line2{


display:inline-block;
  justify-content: space-between;

  border-bottom: 1px solid #95A1AA;

}
.pop{
  padding: 10px;

}
.description{
  padding: 10px;
  border: 1px solid #95A1AA;
}
