.public{
  // background-color: #F27321;
    border-bottom: 1px solid black;
}


.line{

  border-bottom: 1px solid #95A1AA;

}
.line1{

  border-bottom: 1px solid #95A1AA;

}

// .button {
//   border: solid 2px _palette(accent);
// }
